* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Nunito, sans-serif;
    background-color: #fafafa;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    min-height: 3.4rem;
    padding: 0 4rem;
    box-shadow: 0px 2px 1px rgba(155, 155, 155, 0.164);
}

header h1 {
    font-weight: 800;
}

header p {
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

header p i {
    transform: rotate(-25deg);
}

main{

}

.search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.search {
    position: relative;
}

.search input {
    width: 24rem;
    height: 2.6rem;
    padding: 1rem 1rem 1rem 3rem;
    font-size: .8rem;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(155, 155, 155, 0.164);
    position: relative;
    color: #a8a8a8;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #a8a8a8;
}

.search i {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
    font-size: .9rem;
    color: #a8a8a8;
}

select,
option {
    width: 10rem;
    height: 2.6rem;
    padding: .2rem 1rem;
    font-size: .8rem;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(155, 155, 155, 0.164);
    color: #717171;
}

.data {
    display: flex;
    border: 2px solid red;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.4rem;
    padding: 2rem 4rem;
}

.country_box {
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.country_box a {
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    width: 14rem;
    height: fit-content;
    font-size: .8rem;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 6px rgba(155, 155, 155, 0.164);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.country_box img {
    width: 100%;
    height: auto;
    min-height: 200px auto; /* Adjust this value to fit the mid of the container */
    object-fit: cover; /* Ensures the image covers the area and is centered */
    box-shadow: 2px 2px 6px rgba(155, 155, 155, 0.164);
}

.country_box .box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .8rem .6rem 1.4rem 1rem;
}

.box-text h3 {
    margin: .8rem 0;
    font-weight: 800;
}

.box-text p {
    font-weight: 600;
}

.box-text p span {
    font-weight: 300;
}